body
	background-color: $main-bgc

.body
	height: calc(100vh - 40px)
	position: relative
	overflow: hidden

@keyframes fadeIn
	from
		opacity: 0
@keyframes rotate
	to
		transform: rotate(360deg)

.button
	min-width: 137px
	min-height: 40px
	padding: 10px 15px
	font-size: 16px
	color: #505556
	background-color: #fff
	border: 1px solid #939AA0
	border-radius: 4px
	transition: .35s
	&.cancel
		color: $red
		&:before
			content: '\X'
	&.hold
		&:before
			content: '\48'
	&.hold,&.cancel
		font-family: $f_bold
		@extend %dfc
		&:before
			margin-right: 5px
			font-family: 'icons'
			font-size: 13px
	&.verify
		background-color: #48A0A1
		border-color: #48A0A1
		color: #fff
	&:hover
		background-color: $head-bgc
		color: #fff
	&:active
		box-shadow: inset 5px 5px 5px rgba($black,.2)
	&.inactive
		cursor: initial
		color: #B7BBBE
		border-color: #B7BBBE
		&:hover
			background-color: #fff
			&,&:before
				color: #B7BBBE
.select
	width: 100%
	position: relative
	&-head
		@extend %dfi
		width: 100%
		img
			width: 7px
			height: 7px
			transition: .5s ease
	&-body
		@extend %df
		width: 100%
		max-height: 0
		overflow: auto
		flex-direction: column
		box-shadow: 0 5px 5px rgba($black,.1)
		position: absolute
		top: 42px
		z-index: 100
		transition: .5s
	&-option
		min-width: initial
		margin-top: 3px
		text-align: left
	&.active
		.select
			&-head
				img
					transform: rotate(180deg)
			&-body
				max-height: 195px
.checkbox
	label
		span:first-child
			+wh(16px)
			flex: 0 0 16px
			border-radius: 2px
.radio
	label
		span:first-child
			+wh(14px)
			flex: 0 0 14px
			border-radius: 100%
			&:before
				border-radius: 100%
.checkbox,.radio
	label
		@extend %dfa
		white-space: pre
		&>span:first-child
			@extend %dfc
			margin-right: 15px
			border: 1px solid #939AA0
			&:before
				+af
				+wh(calc(100% - 4px))
				transition: .35s ease
	input:checked ~ label span:first-child
		&:before
			background-color: #657690

.scroll
	&-line
		width: calc(100% - 11px)
		margin-left: 5.5px
		position: relative
		&:after
			+af
			+wh(calc(100% - 32px),12px)
			margin-left: 16px
			margin-bottom: 7px
			background-color: rgba(#939AA0,.3)
	&-button
		@extend %dfc
		position: absolute
		top: -4px
		z-index: 1
		span
			+wh(34px,20px)
			border-radius: 3.5px
			border: 1px solid #939AA0
			background-color: #fff
			position: relative
			z-index: 1
		&:after
			+af
			+wh(7px)
			background-color: #949BA1
			transform: rotate(45deg)
			position: absolute
			bottom: -3px
	&-values
		@extend %dfa
		padding-top: 3px
		text-align: center
		span
			width: 45px
			position: relative
			&:before
				width: 2px
				height: 7px
				margin: 0 auto
				background-color: #939AA0
				content: ''
				position: absolute
				top: -10px
				left: 0
				right: 0


.login
	+wh(100vw,100vh)
	background-color: $head-bgc
	&-col
		padding-top: 50px
		padding-left: 75px
		position: relative
		z-index: 1
	&-logo
		@extend %dfa
		height: 89px
		margin-bottom: 190px
		img
			height: 100%
	&-form
		display: flex
		flex-direction: column
		align-items: center
		position: absolute
		left: calc(50% - 175px + 47px)
		top: calc(50% - (255px / 2))
		z-index: 1
		&-input
			+wh(350px,67px)
			margin-top: 17px
			padding: 0 30px
			border-radius: 34px
			background-color: #fff
			font-family: $f_italic
			color: #838889
			font-size: 18px
		&-submit
			+wh(200px,54px)
			@extend %dfc
			margin-top: 33px
			border-radius: 4px
			background-color: #30435F
			font-family: $f_normal
			font-size: 24px
			color: #fff
			transition: .35s ease
			&:hover
				transform: scale(1.03)
				box-shadow: 5px 5px 10px rgba(#000,.3)
			&:active
				box-shadow: inset 5px 5px 10px rgba(#000,.3)
				transform: scale(.97)
	&-bgc
		+wh(759px)
		overflow: hidden
		position: absolute
		top: calc(50% - (759px / 2)) //137px
		right: calc(50% - 427px)
		img
			+wh(100%)
			animation: rotate 60s linear infinite
	&-mdl
		+wh(90px,74px)
		position: absolute
		z-index: 1
		bottom: 60px
		right: 30px
		img
			+wh(100%)
.version
	&-number
		margin-left: 30px
		color: #F5F7F9
	&-title
		margin-bottom: 11px
		font-family: $f_italic
		font-size: 18px
		color: #AAB5C5
	&-text
		width: 423px
		min-height: calc(100vh - 556px)
		padding: 28px 45px 28px 33px
		background-color: #546681
		border: 1px solid #A9AEB7
		p
			line-height: 1.6
			color: #F6F7F9



.head
	@extend %dfa
	height: 40px
	background-color: $head-bgc
	&, &-logo,&-mdl,&-njh,&-user
		color: $white
	&-logo
		@extend %dfa
		margin-left: 45px
		margin-right: 26px
		&:after
			+af
			+wh(2px,26px)
			margin-left: 26px
			background-color: #8995A8
	&-mdl
		margin-right: 26px
	&-njh
	&-user,&-logout
		padding: 0 45px
		&:before
			margin-right: 10px
			font-family: 'icons'
			font-variant: normal
			text-transform: none
	&-user
		@extend %dfa
		margin-left: auto
		&:before
			content: '\55'
			font-size: 24px
	&-logout
		@extend %dfa
		height: 40px
		padding: 0 45px
		background-color: $main-bgc
		color: $head-bgc
		&:before
			content: '\53'
			font-size: 20px

.info-bar
	@extend %dfa


.start
	padding-top: 100px
	&-center
		@extend %df
		flex-wrap: wrap
		align-items: flex-start
		justify-content: center
		margin-top: 105px
	&-title
		font-size: 33px
		text-align: center
		&:after
			+af
			+wh(715px,3px)
			margin: 15px auto 0
			background: linear-gradient(to right, rgba(101,118,144,0) 0%,rgba(101,118,144,1) 50%,rgba(101,118,144,0) 100%)
	&-left
		width: 326px
		margin-left: 100px
		&-top
			@extend %df
			padding-left: 20px
			align-items: flex-start
			img
				height: 65px
			&-text
				@extend %df
				margin-left: 10px
				flex-direction: column
				align-items: flex-start
				strong
					font-family: $f_bold
					font-size: 14px
				span
					margin-top: 5px
					font-size: 18px
					font-family: $f_italic
		&-bottom
			@extend %dfa
			margin-top: 30px
			padding: 30px 0
			flex-direction: column
			border: 1px solid
			border-radius: 10px
			position: relative
			&:before
				+af
				+wh(20px,30px)
				border-left: 1px solid
				border-right: 1px solid
				position: absolute
				top: -29px
			&,&:before
				background-color: #fff
				border-color: #C0C5CA
			img
				box-shadow: 0 0 15px 10px rgba($black,.1)
			span
				margin-top: 20px
				font-size: 18px
				color: #6F7E97
				font-family: $f_bold
	&-right
		margin-left: 170px
		position: relative
		&:before
			+af
			+wh(230px,1px)
			background-color: #939AA0
			position: absolute
			left: -230px
			top: 20px
		.form
			width: 638px
			padding: 26px 45px 40px
			border-radius: 10px
			border: 1px solid #939AA0
			background-color: #EEF1F4
			&-title
				margin-bottom: 20px
				transform: translateX(-10px)
				font-family: $f_bold
				font-size: 20px
				color: #657690
			&-select
				&-title
					margin-bottom: 5px
					@extend %dfa
					font-size: 16px
					color: #C0C5CA
					&:before
						margin-right: 5px
						content: '\O'
						font-family: 'icons'
						color: $green
				.select
					width: 400px
			&-dis
				margin-top: 20px
				&-title
					margin-bottom: 20px
					&.bold
						font-family: $f_bold
						font-size: 16px
						color: rgba($black,.7)
				&-row
					@extend %dfa
					margin-top: 18px
					padding-left: 10px
					&.bold
						margin-top: 28px
						padding-left: 0
						font-family: $f_bold
						font-size: 16px
						color: rgba($black,.7)
						.checkbox,.radio
							margin-left: 20px
							label
								span:first-child
									margin-right: 10px
					input[type='text']
						width: 100%
						margin-left: 10px
						border-bottom: 1px solid #939AA0
	&-button
		+wh(200px,54px)
		border-radius: 4px
		background-color: #449E9F
		color: #fff
		font-family: $f_bold
		font-size: 24px
		transition: .35s
		&-block
			text-align: center
			flex: 0 0 100%
			margin-top: 43px
		&:hover
			background-color: #657690

.info-bar
	padding: 5px 0
	background-color: #fff
.client
	@extend %dfa
	padding-right: 60px
	padding-left: 45px
	&-name
		&:before
			font-family: 'icons'
			content: '\50'
			margin-right: 10px
			display: inline-block
		font-size: 20px
		font-weight: 500
	&-change
		margin-left: 20px
		text-decoration: underline
		color: #449e9f
		font-size: 16px
		&:hover
			text-decoration: none
	&-actions
		@extend %dfa
		margin-right: 45px
		&>.button
			margin-right: 10px
		.select
			width: 320px
			font-size: 14px
			strong
				font-family: $f_bold
				font-size: 16px
	&-tasks
		@extend %dfa
		li
			@extend %df
			margin-right: 15px
			padding-right: 15px
			flex-direction: column
			position: relative
			&:after
				+af
				+wh(2px,100%)
				background-color: #B7BBBE
				border-radius: 1px
				position: absolute
				right: 0
				top: 0
			&:last-child
				margin-right: 0
				padding-right: 0
				&:after
					content: none
			strong
				font-family: $f_bold
	&-view
		@extend %dfa
		margin-left: auto
		margin-right: 100px
		font-family: $f_italic
		color: #657690
		&:before
			margin-right: 10px
			content: '\L'
			display: block
			font-size: 20px
			font-family: "icons"


.bag
	+wh(calc(100% - 20px),calc(100% - 70px))
	margin: 0 auto
	background-color: #fff
	opacity: 0
	visibility: hidden
	border: 1px solid #B7BBBE
	transform: translateY(100%)
	position: absolute
	left: 0
	right: 0
	top: 60px
	transition: .5s
	&.active
		opacity: 1
		visibility: visible
		transform: none
	&-title
		margin-left: 35px
		font-size: 20px
		font-family: $f_bold
		color: #657690
		&-row
			@extend %dfi
			padding-top: 10px
			flex-wrap: wrap
			&:after
				+af
				+wh(100%,5px)
				margin-top: 12px
				background: transparent linear-gradient(270deg, #F5F7F900 0%, #9DCBCC 50%, #449E9F 100%) 0 0 no-repeat padding-box
		&-btns
			@extend %dfa
			padding-right: 10px
			.button
				margin-right: 10px
				&:last-child
					margin-right: 0
	&-nav
		&-row
			@extend %dfi
			padding-top: 10px
			padding-left: 60px
		&-btns
			@extend %dfa
		&-btn
			@extend %dfa
			margin-right: 50px
			font-family: $f_bold
			font-size: 17px
			color: #B7BBBE
			.value
				display: none
			&-status
				@extend %dfc
				+wh(46px)
				margin-right: 10px
				border-radius: 100%
				position: relative
				.text
					@extend %dfc
					+wh(calc(100% - 8px))
					border: 2px solid #C0C5CA
					border-radius: 100%
					font-size: 12px
					font-family: $f_bold
					color: #657690
					position: absolute
					left: 4px
					top: 4px
				&:before
					+af
					+wh(2px,14px)
					margin: 0 auto
					background-color: #C0C5CA
					position: absolute
					left: 0
					right: 0
					top: -10px
				&:after
					+af
					+wh(100%)
					border-radius: 100%
					box-sizing: border-box
					position: absolute
					left: 0
					top: 0
				.left,.right
					width: 50%
					height: 100%
					overflow: hidden
					position: absolute
					top: 0
					z-index: 1
					span
						+wh(100%)
						position: absolute
						box-sizing: border-box
						transition: .35s
				.left
					left: 0
					span
						right: -100%
						border-right: 4px solid $green
						border-top: 4px solid $green
						border-bottom: 4px solid $green
						border-left: 0
						border-top-right-radius: 22.5px
						border-bottom-right-radius: 22.5px
						transform-origin: center left
				.right
					right: 0
					span
						left: -100%
						border-left: 4px solid $green
						border-top: 4px solid $green
						border-bottom: 4px solid $green
						border-right: 0
						border-top-left-radius: 22.5px
						border-bottom-left-radius: 22.5px
						transform-origin: center right
			&.ready
				.text
					border: none
					&:before
						content: '\O'
						font-family: 'icons'
						color: $green
			&.active
				.bag-nav-btn-status
					&:after
						border: 4px solid rgba(#C0C5CA,.5)
				&>span
					color: #505556
		&-next
			@extend %dfa
			margin-right: 40px
			font-size: 17px
			font-family: $f_bold
			color: #657690
			&:after
				margin-left: 10px
				content: '\3E'
				font-family: 'icons'
				color: #657690
	&-body
		@extend %df
		height: calc(100% - 67px)
		margin-top: -55px
		padding-top: 75px
		padding-left: 60px
		padding-bottom: 18px
		background-color: #FBFDFF
		overflow: hidden
.page
	@extend %df
	flex: 0 0 100%
	padding-right: 60px
	overflow: hidden
	transition: .35s ease
	&-1
		.col
			&:first-child
				flex: 0 0 477px
				padding-right: 77px
			&:nth-child(2)
				flex: 0 0 220px
				padding-left: 14px
	&-2
		position: relative
		&>.col
			&:first-child
				flex: 0 0 313px
				padding-right: 50px
		.table
			width: 700px
			border-collapse: collapse
			tr
				span
					@extend %dfc
					min-height: 43px
					font-weight: 500
				&:last-child
					span
						border-bottom: 1px solid #C0C5CA
			td
				span
					font-family: $f_bold
.input
	&-block
		margin-bottom: 20px
		&.filled
			.input-block-title
				&:before
					content: '\O'
					color: $green
		&.decline
			.input-block-title
				&:before
					content: '\X'
					color: $red
		&.filled,&.decline
			.input-block-title
				span
					color: #C0C5CA
				&:before
					margin-right: 9px
					font-family: 'icons'
			.input
				input,textarea
					border-color: #939AA026
		&,textarea
			font-size: 16px
			font-family: $f_bold
		&-title
			margin-bottom: 8px
			span
				margin-right: 2px
				&.red
					color: $red
		.input
			@extend %dfa
			position: relative
			input,textarea
				border-radius: 4px
				border: 1px solid #939AA0
				background-color: #fff
				&::placeholder
					color: rgba(#505556,.6)
			input
				+wh(100%,40px)
				padding-left: 18px
			textarea
				+wh(100%,116px)
				padding: 18px
				resize: none
			.status
				height: 40px
				display: inline-flex
				align-items: center
				justify-content: center
				border-radius: 0 4px 4px 0
				background-color: rgba(#99A0A1,.2)
				font-family: $f_reg
				position: absolute
				bottom: 0
				right: 1px
				span,button
					@extend %dfc
					height: calc(100% - 2px)
					color: #99A0A1
					&:last-child
						border-radius: 0 4px 4px 0
				span
					padding: 0 18px
				button
					padding: 0 10px
					background-color: #fff
					&.active
						color: #505556
						background-color: #C0C5CA
		.variant
			min-width: 84px
			height: 29px
			margin-left: 4px
			padding: 0 15px
			display: inline-flex
			align-items: center
			border: 1px dashed #C0C5CA
			font-size: 16px
			color: #657690
			font-family: $f_italic
		.checkbox
			margin-left: 40px
		&.bags
			.input
				input[type='text']
					width: 85px
.col
	padding-top: 10px
	position: relative
	&:after
		+wh(2px,100%)
		+af
		position: absolute
		right: 0
		top: 0
		background-color: #C0C5CA
	&:last-child
		&:after
			content: none
.spec
	padding-top: 0
	&-title
		@extend %dfa
		height: 32px
		padding-left: 40px
		border-radius: 16px 0 0 16px
		font-family: $f_bold
		font-size: 16px
		color: #222525
		position: relative
		&,&:after
			background-color: #C0C5CA
		&:after
			+wh(23px)
			content: ''
			transform: rotate(45deg)
			position: absolute
			right: -11px
	&-btns
		@extend %dfa
		margin-top: 15px
.add
	&-once,&-tripple
		@extend %dfa
		margin-right: 18px
		&:hover
			&>span
				&:first-child
					background-color: #449E9F
					border-color: transparent
					&,.before
						color: #fff
		&>span
			&:first-child
				@extend %dfc
				+wh(35px)
				margin-right: 11px
				border-radius: 100%
				border: 1px solid #B7BBBE
				transition: .35s
			&:last-child
				font-size: 16px
				font-family: $f_bold
		.before
			&:before
				+af
				font-family: 'icons'
				content: '\+'
	&-once
		color: #449E9F
	&-tripple
		color: #96999A
		&>span
			&:first-child
				position: relative
			&:last-child
				position: relative
				&:after
					+af
					+wh(140%,2px)
					background-color: #B7BBBE
					position: absolute
					left: -20%
					bottom: -5px
		.before
			font-size: 8px
			color: #449E9F
			position: absolute
			left: 15px
			&:first-child
				left: 8px
			&:nth-child(2)
				top: 6px
			&:last-child
				bottom: 6px
	&-form

.collection
	width: 100%
	padding-top: 0
	padding-left: 56px
	.button
		min-height: 42px
	.input input
		height: 42px
	&-title
		margin-bottom: -4px
		margin-right: 200px
		text-align: right
		.input-block-title
			margin-bottom: 0
	&-row
		@extend %df
		justify-content: space-between
		align-items: flex-start
		.type
			width: 400px
		.qty
			width: 53px
			margin-left: 14px
		.scroll
			margin-left: 50px
			margin-top: 30px
		.time
			@extend %dfa
			margin-top: 26px
			margin-left: auto
			span
				font-family: $f_bold
			input
				width: 53px
				height: 42px
				border-radius: 4px
				border: 1px solid #939AA0
				background-color: #fff
				&:first-child
					margin-right: 5px
				&:nth-child(3)
					margin-left: 5px
					margin-right: 7px
		.pid,.method
			.select-head,.select-option
				min-width: initial
		.pid
			.select-head
				width: 88px
		.method
			.select-head
				width: 250px
			&-comments
				.input
					input
						width: 455px
		.tests,.discrepancies
			width: 470px
			&-body
				height: 363px
				border-radius: 4px
				border: 1px solid #939AA0
				background-color: #fff
				overflow: auto
				font-size: 14px
		.tests
			margin-right: 24px
			&-title
				padding: 15px 35px
				background-color: #FBFDFF
				color: #8A9192
				font-family: $f_italic
				position: relative
				.add
					height: 100%
					padding: 0 30px
					border-radius: 50px 0 0 50px
					border: 2px solid #939AA0
					color: #449E9F
					font-family: $f_bold
					position: absolute
					top: 0
					right: 0
					transition: .35s
					&:hover
						border-color: transparent
						background-color: #449E9F
						color: #fff
			.row
				@extend %dfa
				height: 60px
				&:nth-child(odd)
					background-color: #F7F9FA
					border-top: 1px solid #D9DCE0
					border-bottom: 1px solid #D9DCE0
				.checkbox
					margin-left: 13px
					label
						&>span
							&:first-child
								margin-bottom: auto
							&:last-child
								@extend %df
								align-items: flex-start
					em
						white-space: initial
						font-family: $f_reg
		.discrepancies
			margin-right: auto
			&-body
				padding: 15px
				.row
					@extend %df
					align-items: flex-start
					margin-bottom: 14px
					input[type='text']
						width: 100%
						margin-left: 10px
						border-bottom: 1px solid #505556
					.checkbox
						margin-left: 0
						label
							font-family: $f_reg
							&>span
								&:first-child
									margin-bottom: auto
					&:nth-child(n + 2)
						.checkbox
							label
								min-width: 265px
								white-space: initial
.search
	&-button
		min-width: 84px
		border-color: #449E9F
		color: #449E9F
		text-align: center
		&:after
			content: '\s'
			font-family: 'icons'
		&:hover
			border-color: transparent
			color: #fff
	&-results
		flex: 0 0 790px
		padding: 10px 45px 0
		.add-once
			margin: 40px 0 0 20px
.details
	@extend %df
	width: calc(100% - 60px)
	height: 100%
	background-color: #FBFDFF
	transform: translateY(100%)
	position: absolute
	top: 0
	left: 0
	z-index: 1
	transition: .35s ease
	&.active
		transform: translateY(0)
	.col
		&-first
			padding-right: 43px
	.table
		thead
			span
				padding-left: 15px
				justify-content: flex-start
		tbody
			span
				padding: 5px 0
		em
			@extend %dfa
			width: 100%
			height: 37px
			padding-left: 15px
			background-color: #449E9F
			color: #fff
		td
			&:first-child
				em
					border-radius: 18px 0 0 18px
			&:last-child
				em
					border-radius: 0 18px 18px 0
	&-info
		margin-top: 15px
		font-size: 14px
		&-row
			@extend %df
			align-items: flex-start
			.col
				flex: 0 0 50%
				&:last-child
					padding-left: 20px
				.row
					@extend %dfa
					padding: 10px
					&:nth-child(odd)
						background-color: #fff
					&:nth-child(even)
						background-color: #F7F9FA
					span
						&:first-child
							flex: 0 0 150px
							font-family: $f_italic
					&.filled
						span:first-child
							font-family: $f_bold
	&-dis
		margin-top: 30px
		&-title
			font-size: 16px
			font-family: $f_bold
			margin-bottom: 10px
		&-body
			height: 153px
			padding: 10px
			border-radius: 4px
			border: 1px solid #939AA0
			overflow: auto
		.row
			@extend %dfa
			margin-bottom: 10px
			&:last-child
				margin-bottom: 0
			input[type='text']
				width: 100%
				margin-left: 10px
				border-bottom: 1px solid #939AA0
	&-close
		padding: 10px
		border-radius: 4px
		border: 1px solid #939AA0
		position: absolute
		top: 0
		right: 0
		transition: .35s
		&:after
			content: '\X'
			font-family: 'icons'
		&:hover
			background-color: #657690
			color: #fff
.clinical
	padding-left: 50px
	&-title
		margin-bottom: 30px
		font-family: $f_bold
		font-size: 20px
		color: #657690
	.row
		@extend %df
		margin-bottom: 15px
		align-items: flex-start
		&:last-child
			margin-bottom: 0
		.input-block
			margin-right: 10px
	&-block
		margin-bottom: 30px
		font-family: $f_bold
		&-title
			font-size: 16px
			margin-bottom: 15px
		&-textarea
			+wh(405px,116px)
			resize: none
			border-radius: 4px
			border: 1px solid #939AA0
			background-color: #fff
		&.results
			.checkbox
				width: 140px
		&.check
			.checkbox
				width: 300px


.new-patient
	width: 100%
	padding-left: 30px
	transform: translateY(100%)
	position: relative
	transition: .35s
	&.active
		transform: translateY(0)
	&-left
		@extend %df
		flex-direction: column
		+wh(340px,250px)
		border-radius: 20px 0 0 20px
		border: 1px solid #B7BBBE
		background-color: #B7BBBE
		font-family: $f_bold
		font-size: 20px
		color: #fff
		position: absolute
		top: 0
		left: -340px
		span
			margin-top: auto
			margin-left: 20px
		p
			@extend %df
			height: calc(100% - 70px)
			margin-top: auto
			padding-left: 20px
			padding-top: 20px
			flex-direction: column
			background-color: #fff
			border-radius: 20px 0 0 20px
			font-size: 16px
			color: #505556
			em
				margin-top: 10px
				font-family: $f_reg
	&-right
		height: 697px
		padding-right: 10px
		overflow: auto
	&-title
		color: #657690
		font-family: $f_bold
		font-size: 20px
		&-row
			@extend %dfi
			margin-bottom: 30px
	.row
		@extend %df
		.input
			&-block
				margin-right: 10px
				&:last-child
					margin-right: 0
		&-first
			.input
				&-block
					flex-shrink: 0
					&:last-child
						flex-shrink: 1
						width: 100%
	.line
		width: 100%
		height: 2px
		margin-bottom: 20px
		background: transparent linear-gradient(90deg, #B7BBBE00 0%, #B7BBBE 50%, #B7BBBE00 100%) 0% 0% no-repeat padding-box
	&-button
		background-color: #48A0A1
		color: #fff
	.button-row
		@extend %dfc
		padding-bottom: 20px


.billing
	.col
		&:first-child
			padding-right: 125px
	.checkbox
		margin-bottom: 20px
		span
			font-family: $f_bold
	.row
		@extend %df
		align-items: flex-end
		.input-block
			width: 400px
			input
				&::placeholder
					font-family: $f_italic
			&:first-child
				margin-right: 10px
.tabs
	width: 810px
	margin-top: 20px
	&-control
		@extend %df
		align-items: flex-end
		label
			width: 169px
			margin-bottom: -1px
			padding: 5px 0
			border-right: 1px solid #C0C5CA
			border-bottom: 1px solid transparent
			text-align: center
			position: relative
			z-index: 1
			transition: .35s
	&-body
		@extend %df
		border: 1px solid #C0C5CA
		position: relative
	&-page
		width: 0
		padding: 25px 40px
		opacity: 0
		visibility: hidden
		position: absolute
		left: 0
		top: 0
		transition: .35s
	&-row
		@extend %df
		align-items: flex-end
		.input-block
			flex: 0 0 340px
			&:first-child
				margin-right: 50px
#tab-1:checked~.tabs-control label:first-child,#tab-2:checked~.tabs-control label:nth-child(2),#tab-3:checked~.tabs-control label:nth-child(3)
			border-bottom-color: #fbfdff
#tab-1:checked~.tabs-body .tabs-page:first-child,#tab-2:checked~.tabs-body .tabs-page:nth-child(2),#tab-3:checked~.tabs-body .tabs-page:nth-child(3)
		opacity: 1
		visibility: visible
		position: relative






